<?xml version="1.0" encoding="UTF-8"?>

<suite name="Suite">
 	<listeners>
                     <listener class-name="org.uncommons.reportng.HTMLReporter" />
                     <listener class-name="org.uncommons.reportng.JUnitXMLReporter" />
                     <listener class-name="test.czh.util.TestCaseReport" />
                     
            </listeners>  
	
	
    
    <test name="Test1">
    <parameter name="browser" value="chrome"></parameter>
	<parameter name="coursename" value="快速搞定前端JavaScript面试-慕课网"></parameter>
	<parameter name="url" value="https://coding.imooc.com/class/400.html"></parameter>
    <classes>
      <class name="test.czh.runcase.Coursecase">
       <methods>
		<include name="TestAddCouseSucccesss"></include>
		
      </methods>
      </class>
    </classes>
    </test>
</suite> <!-- Suite -->
