<?xml version="1.0" encoding="UTF-8"?>

<suite name="Suite">
 	<listeners>
                     <listener class-name="org.uncommons.reportng.HTMLReporter" />
                     <listener class-name="org.uncommons.reportng.JUnitXMLReporter" />
                     <listener class-name="test.czh.util.TestCaseReport" />
                     
            </listeners>  
	<parameter name="browser" value="chrome"></parameter>
	<test name="Test">
	<parameter name="user" value="13129562261"></parameter>
	<parameter name="password" value="czh123"></parameter>
	<parameter name="url" value="https://zhan.zzxes.com.cn/#/"></parameter>
	<parameter name="exhibitionname" value="演示"></parameter>	
    <classes>
      <class name="test.czh.runcase.LoginCase">
       <methods>
		<include name="TestLoginSucccess"></include>
		<include name="TestLoginuserError"></include>
		
      </methods>
      </class>
    </classes>
    </test>
</suite> <!-- Suite -->
